name: CI

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.24.2'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.6

    - name: Run testing
      run: go test -v

    - name: Run the scripts
      run: |
        GOOS=darwin GOARCH=arm64 go build -o ./build/dist/mbx_darwin_arm64 .
        GOOS=darwin GOARCH=amd64 go build -o ./build/dist/mbx_darwin_amd64 .
        GOOS=linux GOARCH=amd64 go build -o ./build/dist/mbx_linux_amd64 .
        GOOS=linux GOARCH=arm64 go build -o ./build/dist/mbx_linux_arm64 .

